.container {
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
}

.feedImage {
  margin: 10px;
  max-width: 665px;
  border-radius: 5px;
}

.likes {
  margin-left: 10px;
  font-weight: 700;
  color: aliceblue;
}

.likesContent {
  display: flex;
  align-content: center;
  align-items: center;
  margin-left: 20px;
}

.icon {
  font-size: 2rem;
  color: aliceblue;
}

.icon:hover {
  color: red;
  cursor: pointer;
}
